.calendar{
    margin: 5%;
    height: 50vh;
}

.tab{
    background-color: burlywood;
    padding: 5px;
}

.tabList > div{
    display: flex;
}

.tabList > div > li{
    list-style: none;
    padding: 10px;
    margin-left: 5px;
    background-color: burlywood;
    border: 1px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.tabMain{
    border-bottom: none;
}

.data{
    display: none;
}

tr, th{
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.calendar > table{
    table-layout: fixed;
    border-spacing: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: rgb(202, 110, 94);
}

.dia{
    text-align: center;
    border-radius: 5px;
    background-color: rgb(212, 36, 36);
}

.hora{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

